/*:root {
    background-color: #000;
}*/

body.__night-mode {
    background-color: #fff;
    filter: invert(90%);
}

* {
    background-color: inherit;
}

.__night-mode img:not([src*=".svg"]),
.__night-mode [style*="background-image"],
.__night-mode video,
.__night-mode svg,
.__night-mode canvas {
    filter: invert(100%);
}
